.contact-form-container {
  background: url("/image/Church/puno.png") no-repeat center center/cover;
  padding: 50px;
  text-align: center;
  color: white;
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
}

.contact-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contact-form input {
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.contact-button {
  background-color: #f08c5a;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
}
.success-message {
  background-color: #6cbe78;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 15px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}