.hero {
  height: 100vh; /* Висота на весь екран */
  background-size: cover; /* Зображення покриває весь екран */
  background-position: center; /* Центрує зображення */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Колір тексту */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тінь для тексту */
}

.hero h2 {
  font-size: 3rem; /* Розмір шрифту */
}
